In [5]:
# Import libraries
from sqlalchemy import create_engine
import pandas as pd
from sklearn.cluster import KMeans

In [6]:
db_engine = create_engine('mysql+pymysql://root:password@127.0.0.1/SoccerStats')
db_connection = db_engine.connect()

In [63]:
df_info = pd.read_sql('SELECT * FROM info', con=db_connection)
df_standard = pd.read_sql('SELECT * FROM standard', con=db_connection)
df_defense = pd.read_sql('SELECT * FROM defense', con=db_connection)

In [64]:
# Data types of the info table after 
df_info.dtypes

id                   object
created      datetime64[ns]
name                 object
position             object
foot                 object
height               object
weight               object
dob                  object
cityob               object
countryob            object
nt                   object
club                 object
age                  object
dtype: object

In [65]:
# Convert numerical data from objects to floats
df_info['age'] = df_info['age'].dropna().astype('float64')
df_info['weight'] = df_info['weight'].dropna().astype('float64')
df_info['height'] = df_info['height'].dropna().astype('float64')

In [66]:
# Join the info table with the defense table on the id column
df = df_info.set_index('id').join(df_defense.set_index('id'))
df = df.join(df_standard.set_index('id'))

In [67]:
# Columns of the combined dataframe, everything except info columns is a float64
df.columns

Index(['created', 'name', 'position', 'foot', 'height', 'weight', 'dob',
       'cityob', 'countryob', 'nt', 'club', 'age', 'tackles', 'tackles_won',
       'tackles_def_3rd', 'tackles_mid_3rd', 'tackles_att_3rd',
       'dribble_tackles', 'dribbles_vs', 'dribble_tackles_pct',
       'dribbled_past', 'pressures', 'pressure_regains', 'pressure_regain_pct',
       'pressures_def_3rd', 'pressures_mid_3rd', 'pressures_att_3rd', 'blocks',
       'blocked_shots', 'blocked_shots_saves', 'blocked_passes',
       'interceptions', 'tackles_interceptions', 'clearances', 'errors',
       'games', 'games_starts', 'minutes', 'goals', 'assists', 'pens_made',
       'pens_att', 'cards_yellow', 'cards_red', 'goals_per90', 'assists_per90',
       'goals_assists_per90', 'goals_pens_per90', 'goals_assists_pens_per90',
       'xg', 'npxg', 'xa', 'xg_per90', 'xa_per90', 'xg_xa_per90', 'npxg_per90',
       'npxg_xa_per90', 'minutes_90s'],
      dtype='object')

In [87]:
# A look at the best player at my favorite part of the game
most_tackles = df[df['tackles'] == df['tackles'].max()]
most_tackles = most_tackles[['name','position','height','weight','club','age','games','tackles_won']]

In [88]:
# A comparison with one of the best tackles in the world
kante = df[df['name'].str.contains("N'Golo")]
pd.concat([most_tackles, kante[['name','position','height','weight','club','age','games','tackles_won']]])

,name,position,height,weight,club,age,games,tackles_won
id,,,,,,,,
31626657,Laurent Abergel,DF-MF FB,170.0,NaN,Lorient,27.0,17.0,54.0
b9fbae28,N'Golo Kanté,MF CM-DM,169.0,68.0,Chelsea,29.0,16.0,33.0

In [90]:
# And the top 10 tacklers in terms of absolute numbers are...
best_tacklers = df.nlargest(10, 'tackles')[['name','position','height','weight','club','age','games','tackles_won']]
best_tacklers

,name,position,height,weight,club,age,games,tackles_won
id,,,,,,,,
31626657,Laurent Abergel,DF-MF FB,170.0,NaN,Lorient,27.0,17.0,54.0
ed45c4a5,Valentin Rongier,MF CM-DM,172.0,66.0,Marseille,26.0,15.0,47.0
bc7b4580,Fábio,DF FB,172.0,64.0,Nantes,30.0,14.0,31.0
ef9c1c95,Benjamin André,DF-MF AM-CM-DM,177.0,68.0,Lille,30.0,16.0,40.0
8b04d6c1,Pierre Højbjerg,"MF CM-DM, left",185.0,81.0,Tottenham Hotspur,25.0,15.0,35.0
b9fbae28,N'Golo Kanté,MF CM-DM,169.0,68.0,Chelsea,29.0,16.0,33.0
3dd738a1,Ruben Aguilar,"DF-MF FB, right",172.0,NaN,Monaco,27.0,16.0,28.0
243f4a0b,Otávio,MF DM,NaN,NaN,Bordeaux,26.0,15.0,40.0
3c6bbbab,Fabien Centonze,"DF-MF FB, right",NaN,NaN,Metz,24.0,16.0,23.0
4b511457,Oriol Romeu,MF CM-DM,183.0,83.0,Southampton,29.0,15.0,24.0

In [100]:
# Let's see if the names are the same in term of tackles per game (only players with at least 5 games included)
df['tackles_won_per_game'] = 0
df.loc[df['games'] != 0, 'tackles_won_per_game'] = df['tackles_won'] / df['games']
best_tacklers = df[df['games'] > 4].nlargest(10, 'tackles_won_per_game')[['name','position','height','weight',
                                                         'club','age','games','tackles_won_per_game']].round(2)
best_tacklers

,name,position,height,weight,club,age,games,tackles_won_per_game
id,,,,,,,,
31626657,Laurent Abergel,DF-MF FB,170.0,NaN,Lorient,27.0,17.0,3.18
0bb6e193,Yvann Macon,DF,176.0,74.0,Saint-Étienne,22.0,6.0,3.17
ed45c4a5,Valentin Rongier,MF CM-DM,172.0,66.0,Marseille,26.0,15.0,3.13
b8c1de25,Maxime Gonalons,MF CM-DM,187.0,76.0,Granada,31.0,11.0,2.73
243f4a0b,Otávio,MF DM,NaN,NaN,Bordeaux,26.0,15.0,2.67
8f056768,Xaver Schlager,MF CM,NaN,NaN,Wolfsburg,23.0,12.0,2.67
c149016b,Wataru Endo,DF-MF,178.0,75.0,Stuttgart,27.0,13.0,2.62
6b47c5db,Wilfred Ndidi,DF-MF CM-DM,188.0,78.0,Leicester City,24.0,7.0,2.57
822d51d7,Youssouf Fofana,MF,184.0,70.0,Monaco,21.0,14.0,2.50
ef9c1c95,Benjamin André,DF-MF AM-CM-DM,177.0,68.0,Lille,30.0,16.0,2.50